kibanaDomain: www.my-website.nl
nameOverride: kiss
elasticVersion: 8.9.0
elasticsearchCount: 3
nodeSelector: {}

# Resource limits and requests for Elasticsearch containers
resources: {}
  # limits:
  #   cpu: 2
  #   memory: 4Gi
  # requests:
  #   cpu: 1
  #   memory: 2Gi

# Persistence configuration for Elasticsearch
persistence:
  enabled: true
  storageClassName: "azurefile-csi" # <<--- example, set as appropriate for your cluster
  accessModes:
    - ReadWriteOnce
  size: 10Gi # <<--- example, set as appropriate for your cluster

eck-operator:
  enabled: true
  createClusterScopedResources: false
  config:
    # no RBAC access to cluster-wide storage classes, hence disable storage class validation
    validateStorageClass: false
  installCRDs: false
  webhook:
    enabled: false
